@import "http://webresource.english.c-ctrip.com/resaresenglish/ibu/ibucommon/stylesheets/global.6f46544a.css";

body{
	font-size:124px;
	color:#333;
	padding:0;
	margin:0;
	line-height:2;
	border-left:1px solid #ccc; }

a{
	color:#333; }

a:hover{
	color:#1171b7; }

h1{
	font-size:24px; }

h2{
	font-size:20px; }

h3{
	font-size:16px; }

p{
	font-size:124px; }

div p{
	font-size:124px; }

div:before{
	content:'sass'; }
